#url {
  position    : absolute;
  left        : 100%;
  top         : 0%;
  height      : 100%;
  width       : 240px;
  
  background  : none;
  outline     : none;
  padding     : none;
  margin      : none;
  border      : none;
  
  line-height : 100%;
  font-family : 'Oswald';
  font-size   : 10pt;
  color       : rgba( 144, 144, 144, 1.00 );
  padding-left: 0.6em;
}
#url.error::placeholder {
  color       : rgba( 233,  33,  33, 1.00 );
}

#url-get {
  position     : absolute;
  left         : calc(100% + 240px + 18px);
  top          : calc((100% - 27px) / 2);
  height       : 27px;
  width        : 36px;
  
  cursor       : pointer;
  user-select  : none;
  border       : 1px solid rgba( 115, 115, 115, 0.25 );
  border-radius: 4px;
  transition   : all 230ms;
  
  line-height  : 27px;
  text-align   : center;
  font-family  : 'Montserrat','Playfair Display';
  font-size    : 10pt;
  color        : rgba( 144, 144, 144, 1.00 );
  padding-left : 0.8em;
  padding-right: 0.8em
}
#url-get:hover {
  background   : rgba( 145, 135, 195, 0.05 );
  border       : 1px solid rgba( 145, 135, 195, 0.35 );
  
  color        : rgba( 190, 180, 245, 1.00 );
}
#url-get:active {
  background   : rgba( 255, 255, 255, 0.75 );
  border       : 1px solid rgba( 14, 14, 14, 0.75 );
  
  color        : rgba( 14, 14, 14, 1.00 );
}
#url-get.processing {
  border       : 1px solid rgba( 188, 48, 188, 1.00 );
  
  color        : rgba( 215, 15, 215, 1.00 );
}
#url-get.processing:hover {
  background   : rgba( 215, 15, 215, 0.33 );
  border       : 1px solid rgba( 188, 48, 188, 1.00 );
  
  color        : rgba( 215, 15, 215, 1.00 );
}
#url-get.complete {
  border       : 1px solid rgba( 45, 188, 45, 1.00 );
  
  color        : rgba( 15, 215, 15, 1.00 );
}
#url-get.error {
  border       : 1px solid rgba( 255, 33, 33, 1.00 );
  background   : rgba( 222, 15, 15, 0.08 );
  
  color        : rgba( 255, 33, 33, 1.00 );
}
